In [1]:
import numpy as np
from pandas import Series

In [2]:
my_list=[10,30]
s1=Series(my_list)
s1

0    10
1    30
dtype: int64

In [3]:
my_array=np.array([100,200])
s2=Series(my_array)
s2

0    100
1    200
dtype: int64

In [4]:
my_dict={'hello':123,'world':456,'nice':789}
s3=Series(my_dict)
s3

hello    123
world    456
nice     789
dtype: int64

In [5]:
my_series=Series({'hello':123,'world':456,'nice':789})
my_series.dtype

dtype('int64')

In [6]:
my_series.info()

<class 'pandas.core.series.Series'>
Index: 3 entries, hello to nice
Series name: None
Non-Null Count  Dtype
--------------  -----
3 non-null      int64
dtypes: int64(1)
memory usage: 156.0+ bytes

In [7]:
my_series=Series([10,20,30,40,50])
print('== 인덱싱 ==')
print(my_series[0])
print('== 슬라이싱 ==')
print(my_series[1:3])

== 인덱싱 ==
10
== 슬라이싱 ==
1    20
2    30
dtype: int64

In [8]:
my_series=Series({'a':100,'b':200,'c':300,'d':400})
print('== 인덱싱 ==')
print(my_series['a'])
print('== 슬라이싱 ==')
print(my_series['b':'d'])

== 인덱싱 ==
100
== 슬라이싱 ==
b    200
c    300
d    400
dtype: int64

In [9]:
my_series=Series({'a':100,'b':200,'c':300,'d':400})

print(type(my_series.values))
my_series.values

<class 'numpy.ndarray'>

array([100, 200, 300, 400])

In [10]:
mylist=list(my_series.values)
mylist

[np.int64(100), np.int64(200), np.int64(300), np.int64(400)]

In [11]:
my_series=Series({'a':100,'b':200,'c':300,'d':400})

print(type(my_series.index))
my_series.index

<class 'pandas.core.indexes.base.Index'>

Index(['a', 'b', 'c', 'd'], dtype='object')

In [12]:
mylist=list(my_series.index)
mylist

['a', 'b', 'c', 'd']