# 문제
다음의 데이터는 2024년도 월별 교통사고 건수이다.
이 데이터에 대해 기초 통계량을 구하고, 이를 통해 알 수 있는 사실을 하나 이상 서술하시오.

(발생월, 사고건수) : [[1,2,3,4,5,6,7,8,9,10,11,12],
                    [15129,13836,15738,16300,17605,16690,16252,17000,16956,17720,17455,15668]]

In [1]:
import numpy as np
from pandas import DataFrame

In [32]:
mydata=np.array([15129,13836,15738,16300,17605,16690,16252,17000,16956,17720,17455,15668])

In [45]:
# 최댓값
data_max=np.max(mydata)
data_max_month=list(mydata).index(data_max)+1

# 최솟값
data_min=np.min(mydata)
data_min_month=list(mydata).index(data_min)+1

# 평균
data_average=np.average(mydata)

# 중앙값
data_median=np.median(mydata)

# 사분위수
data_quantile_1=np.quantile(mydata,0.25)
data_quantile_2=np.quantile(mydata,0.5)
data_quantile_3=np.quantile(mydata,0.75)

# 데이터 구간
data_range=data_max-data_min

# 사분위수 구간
data_quantile_range=data_quantile_3-data_quantile_1

# 분산
data_var=np.var(mydata)

# 표준편차
data_std=np.std(mydata)

print('최댓값 : %d'%data_max)
print('최솟값 : %d'%data_min)
print('평균 : %d'%data_average)
print('중앙값 : %d'%data_median)
print('데이터 구간 : %d'%data_range)
print('사분위수 구간 : %d'%data_quantile_range)
print('표준편차 : %d'%data_std)
print('1사분위수 :',data_quantile_1)
print('2사분위수 :',data_quantile_2)
print('3사분위수 :',data_quantile_3)

최댓값 : 17720
최솟값 : 13836
평균 : 16362
중앙값 : 16495
데이터 구간 : 3884
사분위수 구간 : 1393
표준편차 : 1089
1사분위수 : 15720.5
2사분위수 : 16495.0
3사분위수 : 17113.75

In [43]:
size=np.sum(mydata)
count=0
mylist=[]
for i in range(0,len(mydata)):
    count+=mydata[i]
    mylist.append(count)

mydict={
    '절대도수':{
        '1월':mydata[0],
        '2월':mydata[1],
        '3월':mydata[2],
        '4월':mydata[3],
        '5월':mydata[4],
        '6월':mydata[5],
        '7월':mydata[6],
        '8월':mydata[7],
        '9월':mydata[8],
        '10월':mydata[9],
        '11월':mydata[10],
        '12월':mydata[11]
    },
    '상대도수':{
        '1월':round(mydata[0]/size,3),
        '2월':round(mydata[1]/size,3),
        '3월':round(mydata[2]/size,3),
        '4월':round(mydata[3]/size,3),
        '5월':round(mydata[4]/size,3),
        '6월':round(mydata[5]/size,3),
        '7월':round(mydata[6]/size,3),
        '8월':round(mydata[7]/size,3),
        '9월':round(mydata[8]/size,3),
        '10월':round(mydata[9]/size,3),
        '11월':round(mydata[10]/size,3),
        '12월':round(mydata[11]/size,3)
    },
    '누적도수':{
        '1월':mylist[0],
        '2월':mylist[1],
        '3월':mylist[2],
        '4월':mylist[3],
        '5월':mylist[4],
        '6월':mylist[5],
        '7월':mylist[6],
        '8월':mylist[7],
        '9월':mylist[8],
        '10월':mylist[9],
        '11월':mylist[10],
        '12월':mylist[11],
    }
}

df=DataFrame(mydict)
df

      절대도수   상대도수    누적도수
1월   15129  0.077   15129
2월   13836  0.070   28965
3월   15738  0.080   44703
4월   16300  0.083   61003
5월   17605  0.090   78608
6월   16690  0.085   95298
7월   16252  0.083  111550
8월   17000  0.087  128550
9월   16956  0.086  145506
10월  17720  0.090  163226
11월  17455  0.089  180681
12월  15668  0.080  196349

평균과 중앙값의 차이가 크지 않기에 데이터의 신뢰성은 높다고 할 수 있으나,
데이터 구간의 길이가 사분위수 길이에 비해 길고 (2배 이상) 표준편차가 크다는 점으로 보아, 월별 교통사고가 자주 일어나는 월과 덜 일어나는 월의 격차가 존재함을 알 수 있습니다.

또한 3사분위수와 최댓값 사이의 격차보다 1사분위수와 최솟값 사이의 격차가 큰 점을 보아, 최솟값인 "2월의 교통사고량"이라는 특이점이 존재함을 알 수 있습니다.

추가로 12월, 1월, 2월, 3월의 상대도수가 다른 월의 상대도수보다 낮다는 점을 통해, 계절이 겨울일 때에 교통사고량이 낮아진다는 점도 눈여겨 볼 수 있었습니다.

데이터 상 많은 사고가 발생한 월은 5월과 10월로, 이 2개의 달에는 조금 더 교통사고 예방을 위한 순찰 및 통제가 이루어져야할 것입니다.