In [1]:
from hossam import load_data
from pandas import DataFrame

In [2]:
origin=load_data('body_size')
origin

[data] https://data.hossam.kr/data/lab05/body_size.xlsx
[desc] 어느 학급 학생들의 이름, 성별, 키, 몸무게에 대한 가상의 데이터(메타데이터 없음)

field    description
-------  -------------
name     이름
sex      성별
height   키
weight   몸무게

     sex  height  weight
name
Lee    M     175    98.0
Park   F     167    48.0
Hong   M     180     NaN
Kim    F     162    55.0
Nam    M     172    85.0

In [3]:
st1=origin.stack()
print(type(st1))
st1

<class 'pandas.core.series.Series'>

name
Lee   sex          M
      height     175
      weight    98.0
Park  sex          F
      height     167
      weight    48.0
Hong  sex          M
      height     180
Kim   sex          F
      height     162
      weight    55.0
Nam   sex          M
      height     172
      weight    85.0
dtype: object

In [4]:
df1=DataFrame(origin.stack())
df1

                0
name
Lee  sex        M
     height   175
     weight  98.0
Park sex        F
     height   167
     weight  48.0
Hong sex        M
     height   180
Kim  sex        F
     height   162
     weight  55.0
Nam  sex        M
     height   172
     weight  85.0

In [5]:
st2=origin.stack(dropna=False)
df2=DataFrame(st2)
df2

C:\Users\itwill\AppData\Local\Temp\ipykernel_15132\4143264979.py:1: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  st2=origin.stack(dropna=False)

                0
name
Lee  sex        M
     height   175
     weight  98.0
Park sex        F
     height   167
     weight  48.0
Hong sex        M
     height   180
     weight   NaN
Kim  sex        F
     height   162
     weight  55.0
Nam  sex        M
     height   172
     weight  85.0

In [6]:
st2.unstack()

     sex height weight
name
Lee    M    175   98.0
Park   F    167   48.0
Hong   M    180    NaN
Kim    F    162   55.0
Nam    M    172   85.0